.control-group.media.pull-left{ style: 'margin-top: 15px;'}
	= f.label :hd_video, class: 'control-label'
	.controls
		- if f.object.hd_video.present?
			= link_to "Show video", f.object.hd_video.file.url, target: "_blank"
			or
			%a{ href: "#", data: {behavior: "remove_video", remove_html: hidden_field_tag('product[hd_video][_destroy]', 1)} }
				delete
			%br
	= f.file_field :hd_video

.control-group.media.pull-left{ style: 'margin-top: 15px;'}
	= f.label :sd_video, class: 'control-label'
	.controls
		- if f.object.sd_video.present?
			= link_to "Show video", f.object.sd_video.file.url, target: "_blank"
			or
			%a{ href: "#", data: {behavior: "remove_video", remove_html: hidden_field_tag('product[sd_video][_destroy]', 1)} }
				delete
			%br
	= f.file_field :sd_video

.control-group.media.pull-left{ style: 'margin-top: 15px;'}
	= f.label :ipad_video, class: 'control-label'
	.controls
		- if f.object.ipad_video.present?
			= link_to "Show video", f.object.ipad_video.file.url, target: "_blank"
			or
			%a{ href: "#", data: {behavior: "remove_video", remove_html: hidden_field_tag('product[ipad_video][_destroy]', 1)} }
				delete
			%br
	= f.file_field :ipad_video



